#include <windows.h>

#pragma code_page(932) // Shift_JIS

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 ICON "res/Saimin.ico"
1 24 "res/Saimin.manifest"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

STRINGTABLE
{
    100, "年齢チェック"
    101, "あなたはこどもですか？"
    102, "あなたは18才以上ですか？"
    103, "こどもはつかってはいけません。"
    104, "RegisterClassに失敗しました。"
    105, "CreateWindowに失敗しました。"
    106, "Saimin 2.7 by 片山博文MZ"
    200, "あなたはだんだん眠くな～る..."
    201, "そろそろ自白しようぜ..."
    202, "高得点を取りたい...もっと勉強..."
    203, "あなたはだんだん会社で働きたくな～る..."
    204, "あなたはだんだん食欲がなくな～る..."
    205, "あなたの心がだんだんきれいにな～る"
    206, "だんだんわたしのことが好きにな～る..."
    207, "別の生き方探そう..."
    208, "あなたは生きていてもよいのです..."
    209, "あなたはだんだんギャンブルをやめたくな～る..."
    210, "自動"
    211, "分割なし"
    212, "2分割"
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
{
    100, "Age check"
    101, "Are you a child?"
    102, "Are you over 18 years old?"
    103, "Children should not use this software."
    104, "Failed to RegisterClass."
    105, "Failed to CreateWindow."
    106, "Saimin 2.7 by katahiromz"
    200, "You are getting sleepy..."
    201, "Confess, confess now..."
    202, "Wanna get high score. Learn more..."
    203, "Wanna work in a company..."
    204, "You are losing appetite..."
    205, "Your heart is getting cleaner and cleaner..."
    206, "You like me... You like me..."
    207, "Find another way to live..."
    208, "You may live. It's alright."
    209, "You gradually want to stop gambling..."
    210, "Auto"
    211, "No div"
    212, "Div by 2"
}
